__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.svn/

# Project specific
checkpoints/
logs/
pytorch_data_dir/
wandb/
images/
.idea/
.vscode/
